@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Inter", sans-serif;
}

.my-shadow {
    background: rgb(0, 0, 0) !important;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.9892157546612395) 0%, rgba(255, 255, 255, 0) 100%) !important;
}

.active {
    color: #FF3811;
}